*{
    margin: 0;
    top: 0;
}


img{
    height:fit-content;
    width: 100%;
    position: relative;
}

.main-navbar{
    background-color:black;
}

.logo{
    margin: 14px;
    color: white;
    font-family: 'Charm', cursive;
    font-size: 20px;
    padding-left: 1cm;
}

.main-navbar-links{
    display: flex;
    list-style: none;
    padding-left: 0%;
    margin: 10px;
}

.main-navbar-link{
    padding: 1cm;
    color:white;
    position: relative;
    font-family: 'Poppins', sans-serif;
}


.main-navbar-link:hover{
    color:red;
}


.text-container{
    font-family: 'Nunito Sans', sans-serif;
    padding: 4cm;
}

.paragraf2{
    background-color: #171717;
}

.titlu-paragraf2{
    padding-top: 5cm;
    color: white;
    padding-left: 4cm;
    font-family: 'Lora', serif;
}

.titlu-fav1{
    padding-top: 3cm;
    padding-bottom: 1cm;
    padding-left: 6cm;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
}

.text-fav1{
    color: white;
    padding-left: 6cm;
    font-family: 'Nunito Sans', sans-serif;
}

.titlu-fav2{
    padding-top: 3cm;
    padding-bottom: 1cm;
    padding-left: 3cm;
    padding-right: 6cm;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
}

.text-fav2{
    padding-left: 3cm;
    padding-right: 6cm;
    color: white;
    padding-bottom: 5cm;
    font-family: 'Nunito Sans', sans-serif;
}

.contacte{
    padding: 4cm;
    font-family: 'EB Garamond', serif;
}

.mail{
    color: black;
}


.footer{
    background-color: black;
    padding: 3px;
}

p{
    color: white;
}

.social{
    max-width: 30px;
    height: 30px;
}

.titlu_despre{
    font-family: "Lato", sans-serif;
    padding-top: 4cm;
    padding-bottom: 2cm;
}

.founder_pic{
    max-width: 65%;
    max-height: 65%;
    padding-left: 2cm;
    padding-right: 1cm;
}

.founder_nume{
    padding-top: 2.5cm;
    font-family: 'EB Garamond', serif;
}


.founder_history{
    color: black;
    padding-right: 2cm;
    font-family: 'Nunito Sans', sans-serif;
}

u{
    text-decoration: none;
    border-bottom: 2px solid black;
}



.carousel{
    padding-top: 2cm;
}

.titlu_concepte{
    font-family: "Lato", sans-serif;
    padding-top: 5cm;
}





